
// SASS VARIABLES

$card-font: 'Inconsolata', monospace;
$form-font: 'Poppins', sans-serif;
$button-color: #b91e51;
$card-type-color: #15046d;


// GLOBAL ADJUSTMENTS


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// CREDIT CARD STYLING

.credit-card{
    position: relative;
    transform: translateY(50px);
    width: 350px;
    height: 240px;
    border-radius: 10px;
    display: grid;
    padding: 1em;
    font-family: $card-font;
    background: url('/media/abstract.jpg');
    background-size: cover;
    color: white;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.5);


    #logo-display{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .fab{
            font-size: 2.5em;
        }
    }
    #number-display{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        li{
            list-style: none;
            font-size: 1.8em;
            
        }
    }

    #valid-display{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        label{
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }
    #name-display{
        font-size: 1.2em;
        letter-spacing: 3px;

        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
    }
}

// INPUT FORM STYLING

.input-form{
    width: 500px;
    padding: 1em;
    font-family: $form-font;
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content repeat(3, 1fr) min-content;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
    .card-type{
        grid-column: span 12;
        padding: 1em 1em 1.8em 1em;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        border-bottom: 1px solid rgb(205, 203, 203);
        input{
            cursor: pointer;
        }
        #card-type{
            align-self: center;
        }
        #master-card, #visa{
            align-self: center;
            justify-self: center;
        }
        #master-card-label, #visa-label{
            justify-self: end;
        }
        
        i{
            font-size: 3em;
            color: $card-type-color;
            justify-self: end;
        }
    }

    #number-input{
        grid-column: span 12;
        padding: 1.5em 1em 1.8em 1em;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid rgb(205, 203, 203);
        

        #card-number-input{
            align-self: center;
        }
        .number{
            text-align: center;
            font-size: 1em;
            padding: 8px;
            width: 100%;
        }
    }

    #expiry-input{
        grid-column: span 12;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        padding: 1.5em 1em 1.8em 1em;
        border-bottom: 1px solid rgb(205, 203, 203);
        input{
            font-size: 1em;
            padding: 8px;
            text-align: center;
        }
        #month-input-label{
            align-self: center;
        }
        #month-input{
            grid-column: 3;
            width: 100%;;
            justify-self: center;
        }
        #year-input-label{
            font-size: 1em;
            align-self: center;
            justify-self: center;
        }

    }

    #card-owner-input{
        grid-column: span 12;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        grid-gap: 1em;
        padding: 1.5em 1em 1.8em 1em;
        border-bottom: 1px solid rgb(205, 203, 203);
        #owner-input-label{
            align-self: center;
        }
        #owner-input{
            grid-column: span 4;
            font-size: 1em;
            padding: 8px;
        }
    }

    button{
        grid-column: 3 / -3;
        padding: 1em;
        margin: 2em 0;
        background: $button-color;
        color: white;
        border: none;
        border-radius: 5px;
        transition: ease-in-out 0.1s;
        &:hover{
            transform: scale(1.01);
            
        }
    }
}

.card-fly-away{
    animation-name: flyAway;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flyAway{
    0%{
        opacity: 1;
        transform: translateY(50px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
        display: none;
    }
}