
// SASS VARIABLES

$card-font: 'Inconsolata', monospace;
$form-font: 'Poppins', sans-serif;
$handwriting-font: 'Dancing Script', cursive;
$button-color: #b91e51;
$card-type-color: #15046d;


// GLOBAL ADJUSTMENTS


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// CREDIT CARD STYLING
.credit-card{
    padding: 1em;
    z-index: 2;
    
}
.credit-card-background{
    transform: rotateY(90deg);
    animation-name: flip;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    #magnet-strip{
        align-self: center;
        width: 100%;
        background: black;
        height: 35px;
    }
    .info-fields{
        display: flex;
        justify-content: space-around;
    }
    #name-field{
        font-family: $handwriting-font;
        font-size: 1.3em;
        width: 60%;
        height: 35px;
        background: white;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cvv-field{
        height: 35px;
        width: 60px;
        background: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.credit-card, .credit-card-background{
    position: relative;
    // transform: translateY(50px);
    top: 50px;
    width: 350px;
    height: 240px;
    border-radius: 10px;
    display: grid;
    font-family: $card-font;
    background: url('/media/abstract.jpg');
    background-size: cover;
    color: white;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.5);

    

    #logo-display{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .fab{
            font-size: 2.5em;
        }
    }
    #number-display{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        li{
            list-style: none;
            font-size: 1.8em;
            
        }
    }

    #valid-display{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        label{
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }
    #name-display{
        font-size: 1.2em;
        letter-spacing: 3px;

        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
    }
}



// INPUT FORM STYLING

.input-form{
    width: 500px;
    padding: 1em;
    font-family: $form-font;
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content repeat(4, 1fr) min-content;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
    .card-type{
        grid-column: span 12;
        padding: 1em 1em 1.8em 1em;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        border-bottom: 1px solid rgb(205, 203, 203);
        input{
            cursor: pointer;
        }
        #card-type{
            align-self: center;
        }
        #master-card, #visa{
            align-self: center;
            justify-self: center;
        }
        #master-card-label, #visa-label{
            justify-self: end;
        }
        
        i{
            font-size: 3em;
            color: $card-type-color;
            justify-self: end;
        }
    }

    #number-input{
        grid-column: span 12;
        padding: 1.5em 1em 1.8em 1em;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        grid-gap: 10px;
        border-bottom: 1px solid rgb(205, 203, 203);
        

        #card-number-input{
            align-self: center;
        }
        .number{
            text-align: center;
            font-size: 1em;
            padding: 8px;
            width: 100%;
        }
    }

    #expiry-input{
        grid-column: span 12;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        padding: 1.5em 1em 1.8em 1em;
        border-bottom: 1px solid rgb(205, 203, 203);
        input{
            font-size: 1em;
            padding: 8px;
            text-align: center;
        }
        #month-input-label{
            align-self: center;
        }
        #month-input{
            grid-column: 3;
            width: 100%;;
            justify-self: center;
        }
        #year-input-label{
            font-size: 1em;
            align-self: center;
            justify-self: center;
        }

    }

    #card-owner-input{
        grid-column: span 12;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        grid-gap: 1em;
        padding: 1.5em 1em 1.8em 1em;
        border-bottom: 1px solid rgb(205, 203, 203);
        #owner-input-label{
            align-self: center;
        }
        #owner-input{
            grid-column: span 4;
            font-size: 1em;
            padding: 8px;
        }
    }

    #cvv-number-input{
        grid-column: span 12;
        display: grid;
        grid-template-columns: 40% repeat(4, 1fr);
        grid-gap: 1em;
        padding: 1.5em 1em 1.8em 1em;
        border-bottom: 1px solid rgb(205, 203, 203);
        #cvv-input-label{
            align-self: center;
        }
        #cvv-input{
            text-align: center;
            grid-column: 5;
            padding: 8px;
        }

    }

    button{
        grid-column: 3 / -3;
        padding: 1em;
        margin: 2em 0;
        background: $button-color;
        color: white;
        border: none;
        border-radius: 5px;
        transition: ease-in-out 0.1s;
        &:hover{
            transform: scale(1.01);
            
        }
    }
}


// effects

.card-fly-away{
    animation-name: flyAway;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.shake{
    transform: translateY(50px);
    animation-name: shake;
    animation-duration: 0.3s;
}

.flip{
    animation-name: flipOver;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}



// animations


@keyframes flyAway{
    0%{
        opacity: 1;
        top: 50px;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: -50px;
        display: none;
    }
}

@keyframes shake{
    0%{
        top: 50px;
    }
    25%{
        top: 40px;
    }
    50%{
        top: 50px;;
    }
    75%{
        top: 40px;;
    }
    100%{
        top: 50px;;
    }
}

@keyframes flipOver {
    0%{
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        box-shadow: 0px 10px 50px rgba(0,0,0,0.5);

    }
    100%{
        transform: rotateY(90deg);
        transform-style: preserve-3d;
        box-shadow: none;

    }
}