* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.credit-card {
  width: 350px;
  height: 240px;
  border-radius: 10px;
  display: grid;
  padding: 1em;
  font-family: "Inconsolata", monospace;
  background: url("/media/abstract.jpg");
  background-size: cover;
  color: white;
}

.credit-card #logo-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.credit-card #logo-display .fab {
  font-size: 2.5em;
}

.credit-card #number-display ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit-card #number-display li {
  list-style: none;
  font-size: 1.8em;
}

.credit-card #valid-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.credit-card #valid-display label {
  text-transform: uppercase;
  font-size: 0.8em;
}

.credit-card #name-display {
  font-size: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}

.input-form #number-input .number {
  text-align: right;
}
